<footer class="site-footer central" role="contentinfo">
	<h3 class="site-footer__title">Crafted with <a href="https://ghost.org/" title="Main Ghost Website">Ghost</a></h3>
	<p>You can also get in touch me on emily[at]emily-young.com</p>
</footer>
