<footer class="site-footer central" role="contentinfo">
	<h3 class="site-footer__title">Crafted with <a href="https://ghost.org/" title="Main Ghost Website">Ghost</a></h3>
	<p>You can also get in touch me on emily[at]emily-young.com <a href="http://emily-young.com/" title="Personal Website">and here</a></p>
    <h4 class="site-footer__title"><a href="{{@blog.url}}/rss/">Subscribe to this blog</a></h4>
</footer>
