<footer class="site-footer central" role="contentinfo">
	<h1 class="site-footer__title">Crafted with <a href="https://ghost.org/" title="Main Ghost Website">Ghost</a></h1>
	<p>You can also get in touch me on emily [at] emily-young.com</p>
    <h2 class="site-footer__title"><a href="{{@blog.url}}/rss/">Subscribe to this blog</a></h2>
    <hr class="seperated">
</footer>
