<footer class="site-footer central" role="contentinfo">
	<h3 class="site-footer__title">Crafted with <a href="https://ghost.org/" title="Main Ghost Website">Ghost</a></h3>
	<p>You can also get in touch me on emily[at]emily-young.com <a href="http://emily-young.com/" title="Personal Website">and here</a></p>
    <h4 class="site-footer__title"><a href="{{@blog.url}}/rss/">Subscribe to this blog</a></h4>
    <hr class="seperated">
    <ul class="social">
        <li class="social__item"><a href="https://twitter.com/emilyyoung">Twitter</a></li>
        <li class="social__item"><a href="https://instagram.com/emilyyoung/">Instagram</a></li>
        <li class="social__item"><a href="https://medium.com/@emilyyoung">Medium</a></li>
        <li class="social__item"><a href="https://dribbble.com/emilyyoung">Dribbble</a>
    </ul>
</footer>
