<div class="pagination central spacer--small">
    {{#if next}}
      <a href="{{page_url next}}" title="Load older posts" class="btn next-page" data-pages="{{pages}}">Older Items</a>
    {{/if}}
</div>
