// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Utilities
// =========================================================================

.central {
	text-align: center;
}

.coloured {
	background-color: $color__primary;
}

.reverse {
    color: $color__neutral;
}

.hidden {
    display: none;
}

// =========================================================================
// Spacers
// =========================================================================

.spacer {
    @include breakpoint(tiny) {
        @include rem(margin-bottom, 1rem);
    }
    @include breakpoint(standard) {
        @include rem(margin-bottom, 3rem);
    }
    @include breakpoint(large) {
        @include rem(margin-bottom, 6rem);
    }
}

.spacer--small {
    @include breakpoint(tiny) {
        @include rem(margin-bottom, .5rem);
    }
    @include breakpoint(standard) {
        @include rem(margin-bottom, 1.5rem);
    }
    @include breakpoint(large) {
        @include rem(margin-bottom, 3rem);
    }
}
