// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Utilities
// =========================================================================

.central {
    text-align: center;
}

.coloured {
    background-color: $color__primary;
}

.reverse {
    color: $color__neutral;
}

.hidden {
    display: none;
}

// =========================================================================
// Spacers
// =========================================================================

.spacer {
    @include breakpoint(320) {
        @include x-rem(margin-bottom, 10px);
    }
    @include breakpoint(768) {
        @include x-rem(margin-bottom, 30px);
    }
    @include breakpoint(1024) {
        @include x-rem(margin-bottom, 60px);
    }
}

.spacer--767 {
    @include breakpoint(320) {
        @include x-rem(margin-bottom, 5px);
    }
    @include breakpoint(768) {
        @include x-rem(margin-bottom, 15px);
    }
    @include breakpoint(1024) {
        @include x-rem(margin-bottom, 30px);
    }
}
