// =========================================================================
// Placeholders
// =========================================================================

// =========================================================================
// Box Sizing - @extend %box-sizing;
// =========================================================================

%box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

// =========================================================================
// Clearfix - @extend %clearfix;
// =========================================================================

%clearfix {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
	*zoom: 1;
}

// =========================================================================
// Hide Text - @extend %hide-text;
// =========================================================================

%hide-text {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

// ==========================================================================
// Image Replacement - @extend %ir;
// ==========================================================================

// Hide from screenreaders and browsers
%hidden {
	display: none !important;
	visibility: hidden;
}

// Hide visually but available for screenreaders
%visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

// Hide visually and from screenreaders, layout maintained
%invisible {
	visibility: hidden;
}
