// =========================================================================
// Variables
// =========================================================================

// =========================================================================
// Colours
// =========================================================================

// Primary - Blue
$color__primary: #384774;

// Secondary - Red
$color__secondary: #B1586E;

// Tertiary - Light Blue
$color__tertiary: #576E90;

// Neutral - White
$color__neutral: #FDFDFD;

// Neutral - Gray
$color__neutral--gray: #EFEFEF;

// Social
$facebook: #3B5999;
$twitter: #55ACEE;
$googleplus: #DD4B39;

// =========================================================================
// Typeface Rules
// =========================================================================

$baseFont: "freight-text-pro", Georgia, Times, serif;
$baseTitle: "raleway", Helvetica, Arial, Sans-serif;
