{{!< default}}

<main role="main" id="main-content">

    <div class="hero fade">
		<a href="/" title="Journal of Emily Young, Front-End Developer" class="hero__pos">
			<span class="hero__text">
                {{@blog.title}}
            </span>
    		<span class="hero__desc">
    			{{@blog.description}}
    		</span>
        </a>
	</div>

    {{> "townillo"}}

	{{> "loop"}}

	{{pagination}}

</main>
