// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Skip to Content
// =========================================================================

.skip-to-content {

    @include x-rem(padding, 20px);
    position: absolute;
    top: -100px;
    left: 30px;
    z-index: 1000;
    @include x-rem(font-size, 21px);
    background-color: $color__primary;
    color: $color__neutral;

    &:focus {
        position: absolute;
        top: 0;
    }

}

.visually-hidden {
    @include hide-visually();
}
