// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Buttons and Icons
// =========================================================================

// ==================================
// 768 Btn
// ==================================

.btn {

    width: auto;
    display: inline-block;
    cursor: pointer;
    letter-spacing: .15em;
    margin: 0 auto;
    padding: 1em;
    outline: none;
    text-decoration: none;
    @include x-rem(font-size, 14px);
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;
    color: $color__neutral;
    background-color: $color__primary;
    text-align: center;
    border: 2px solid $color__neutral;
    font-family: $baseFont;
    @include transition(background-color, .2s, linear);

    @include state() {
        color: $color__neutral;
        background-color: $color__secondary;
    }

}
