// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Hero Area
// =========================================================================

.hero {

    position: relative;

    @include breakpoint(767) {
        text-align: center;
        @include x-rem(padding, 40px 0);
    }

    @include breakpoint(320) {
        text-align: left;
        @include x-rem(padding, 10px);
    }

    @include breakpoint(768) {
        @include x-rem(padding, 50px 0 20px 0);
    }

    &__pos {

        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: $color__primary;
        text-decoration: none;
        @include transition(all, .125s, linear);

        @include state() {
            color: $color__tertiary;
        }

        @include breakpoint(320) {
            position: static;
            display: block;
        }

        @include breakpoint(768) {
            position: static;
        }

        @include breakpoint(1500) {
            @include x-rem(top, 30px);
        }

        @include breakpoint(1024) {
            @include x-rem(top, 20px);
        }

    }

    &__text {

        display: block;
        line-height: 1.3;
        letter-spacing: 0.1em;
        font-family: $baseTitle;
        text-transform: uppercase;
        font-weight: 600;

        @include breakpoint(767) {
            @include x-rem(font-size, 30px);
        }

        @include breakpoint(320) {
            @include x-rem(font-size, 20px);
            @include x-rem(margin, 0 0 2px 0);
        }

        @include breakpoint(768) {
            @include x-rem(font-size, 40px);
            text-align: center;
        }

        @include breakpoint(1500) {
            @include x-rem(font-size, 50px);
        }

        @include breakpoint(1024) {
            @include x-rem(font-size, 60px);
        }

    }

    &__desc {

        display: block;
        letter-spacing: 0.1em;

        @include breakpoint(767) {
            @include x-rem(font-size, 18px);
        }

        @include breakpoint(768) {
            @include x-rem(font-size, 18px);
            text-align: center;
        }

        @include breakpoint(320) {
            @include x-rem(font-size, 16px);
        }

    }

    &__img {

        width: 100%;

        @include breakpoint(767) {
            margin: 0;
        }

        @include breakpoint(320) {
            @include x-rem(margin, 20px 0 10px 0);
        }

    }

}

.post-template .hero {

    &__pos {
        color: $color__neutral;

        @include state() {
            color: $color__secondary;
        }

    }
}

svg.hero__img:not(:root) {
    overflow: visible;
}

.hero__img .path {
    stroke-dasharray: 3000;
}

.fade {
    opacity: 0;
}
