// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Infscr
// =========================================================================

.infscr-loading {

    position: fixed;
    @include x-rem(right, 20px);
    @include x-rem(bottom, 40px);
    @include x-rem(width, 300px);
    height: auto;
    @include x-rem(padding, 10px);
    @include x-rem(font-size, 1.4px);
    background-color: $color__neutral--gray;
    z-index: 100000;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: bounceInUp;

    img {
        position: absolute;
    }

}

@keyframes bounceInUp {

    0% {
        opacity: 0;
        transform: translateY(2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(-30px);
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }

}
