// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Social Links
// =========================================================================

.social {

    @include x-rem(padding-bottom, 20px);
    text-transform: uppercase;
    letter-spacing: 4px;
    @include x-rem(font-size, 16px);

    &__item {

        @include breakpoint(320) {
            display: block;
        }

        @include breakpoint(767) {

            display: inline;
            @include x-rem(padding, 0 0 0 5px);

            &:after {
                content: "x";
                display: inline-block;
                @include x-rem(padding,  0 5px 0 20px);
                color: $color__tertiary;
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }

        }

    }

}
