// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Squares
// =========================================================================

.square {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin: 0 .5% 1% .5%;
}

.post-template .square {

    @include breakpoint(767) {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    @include breakpoint(320) {
        flex-wrap: wrap;
        display: flex;
    }

}

.square__item {
    position: relative;
    border: 7px solid $color__primary;
    overflow: hidden;
    transition: color 0.3s;

    @include state() {

        border: 7px solid $color__secondary;

        .title-text:after {
            content: "";
            width: 45%;
        }

    }

    @include breakpoint(767) {
        width: 48%;
        @include x-rem(padding, 20px);
        @include x-rem(font-size, 16px);
    }

    @include breakpoint(320) {
        width: 98%;
        margin: 1%;
        @include x-rem(margin-top, 10px);
        @include x-rem(margin-bottom, 10px);
        @include x-rem(padding, 30px);
        @include x-rem(font-size, 18px);
    }

    @include breakpoint(768) {
        width: 48%;
        margin: .5%;
        @include x-rem(margin-top, 10px);
        @include x-rem(margin-bottom, 10px);
        @include x-rem(font-size, 18px);
    }

    @include breakpoint(1024) {
        width: 24%;
        margin: .5%;
        @include x-rem(margin-top, 10px);
        @include x-rem(margin-bottom, 10px);
        @include x-rem(font-size, 18px);
    }

}

.post-template .square__item {

    @include breakpoint(1024) {
        width: 48%;
        @include x-rem(margin-top, 10px);
        @include x-rem(margin-bottom, 10px);
        @include x-rem(font-size, 18px);
    }

}
