// =========================================================================
// Base - Defaults and Content
// =========================================================================

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

html {
    overflow-y: scroll;
    overflow-x: hidden; // Use when using content off screen
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 1.5;
    font-family: $baseFont;
    font-weight: 300;
    color: $color__primary;
    background-color: $color__neutral;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    @include transition(all, .2s, linear);
    @include breakpoint(767) {
        @include no-transition(0);
    }
}

a:visited {

}

a:hover {
    outline: none;
}

a:active {
    outline: none;
}

a[href^=tel] {
    text-decoration: inherit;
    color: inherit;
}

:focus {
    outline: none;
}

::selection {
    color: $color__neutral;
    background: $color__primary;
}

::-moz-selection {
    color: $color__neutral;
    background: $color__primary;
}

div.ie {
    @include x-rem(margin, 15px 0);
    background-color: $color__primary;
    color: $color__neutral;
    text-align: center;
    padding: 15px 0;

    p {

        a {

            color: $color__neutral;
            text-decoration: underline;

            @include state() {
                text-decoration: none;
            }

        }

    }

}
