// =========================================================================
// Theme - Specific Theme
// =========================================================================

// =========================================================================
// Content
// =========================================================================

// ===================================
// Shared
// ===================================

.title-text {

    display: block;
    @include x-rem(margin, 0 0 30px 0);
    @include x-rem(font-size, 32px);
    line-height: 1.1;

    &:after {
        content: "";
        width: 30%;
        display: block;
        margin: 0 auto;
        @include x-rem(padding-top, 10px);
        border-bottom: 6px solid $color__secondary;
        @include transition(all, .225s, linear);
    }

    @include state() {

        &:after {
            content: "";
            width: 45%;
        }

    }

    @include breakpoint(767) {
        @include x-rem(font-size, 35px);
    }

}

// ===================================
// Post Content
// ===================================

.main-content {

    &__intro {
        font-size: 1.368em;
        padding: 1.154em;
        text-align: center;
        line-height: 1.5em;
        margin: 1.038em ;
        font-weight: 400;
        font-style: normal;
        border-top: 1px solid $color__primary;
        border-bottom: 1px solid $color__primary;
    }

    .meta {
        @include x-rem(margin, 30px 0 0 0);
        @include x-rem(font-size, 18px);
        letter-spacing: 2px;
        text-transform: none;
        font-family: $baseFont;
    }

    .tags {
        @include x-rem(margin, 20px 0 20px 0);
        @include x-rem(font-size, 16px);
        text-transform: none;
        font-family: $baseFont;
    }

    .reading-time {
        @include x-rem(margin, 0 0 20px 0);
        @include x-rem(font-size, 16px);
    }

}

// ===================================
// Typography
// ===================================

.main-content h1 {

    @include x-rem(font-size, 32px);

    @include breakpoint(320) {
        @include x-rem(font-size, 24px);
    }

}

.main-content h2 {

    @include x-rem(font-size, 24px);

    @include breakpoint(320) {
        @include x-rem(font-size, 20px);
    }

}

.main-content h3 {

    @include x-rem(font-size, 21px);

    @include breakpoint(320) {
        @include x-rem(font-size, 18px);
    }

}

.main-content h4 {

    @include x-rem(font-size, 18px);

    @include breakpoint(320) {
        @include x-rem(font-size, 16px);
    }

}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {

    @include x-rem(margin, 30px 0 10px 0);
    color: $color__primary;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-family: $baseTitle;
    text-transform: uppercase;

    a {
        color: inherit;
    }

}

.main-content ul {

    @include x-rem(margin, 0 0 30px 30px);

    ul {
        @include x-rem(margin, 0 0 0 30px);
        @include x-rem(padding, 0 0 0 10px);
    }

    list-style-type: disc;

}

.main-content ol {

    @include x-rem(margin, 0 0 30px 30px);

    ol {
        @include x-rem(margin, 0 0 0 30px);
        @include x-rem(padding, 0 0 0 10px);
    }

    li {
        list-style-type: decimal;
    }

}

.main-content p {
    @include x-rem(margin, 0 0 10px 0);
}

.main-content blockquote {
    @include x-rem(margin, 30px 0);
    @include x-rem(padding, 0 0 0 30px);
    border-left: 7px solid $color__primary;
}

// ==================================
// Generic
// ==================================

.main-content hr,
.seperated {
    width: 50%;
    @include x-rem(height, 3px);
    @include x-rem(margin-top, 20px);
    @include x-rem(margin-bottom, 20px);
    margin-left: auto;
    margin-right: auto;
    display: block;
    @include clearfix();
    clear: both;
    border: 0;
    background-color: $color__tertiary;
}

.main-content a {

    color: $color__secondary;
    text-decoration: none;
    @include transition(all, .125s, linear);

    @include state() {
        color: $color__tertiary;
    }

}

.main-content iframe {
    margin: 0 auto 30px auto !important;
}
